body{
    background-color: #e7cfa2;
}

.modaleON {
    display: inline-block;
}

.modaleOFF {
    display: none;
}

.cocktailGlobal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    background-color: blue;
}


.fontStyle{
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    padding: 1.5rem;
    color: #1b4d80;
}

.divButtonCocktail{
    display: flex;
    justify-content: center;
}

.buttonCocktail {
    background-color: #1b4d80;
    font-family: 'Kalam', cursive;
    text-shadow: black 1px 1px 0px;
    margin-bottom: 1vh;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: .3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: black 2px 5px 8px;
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    margin : 0.5rem;
}

.divCocktailShow{
    display: flex;
    justify-content: center;
}

