*{
    font-family: 'Kalam', cursive;
}

.titlePreview {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    padding: 0.5rem;
}

.textPreview{
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
}


.DivResult {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: solid #1b4d80 1px;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ImageCocktail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vw;
    border-radius: 10px;
}

.ResultDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-left: 1.5rem;
    text-align: center;
    font-size: 0.8rem;
}

.buttonCliked {
    background-color: #1b4d80;
    font-family: 'Tribeca', cursive;
    text-shadow: black 1px 1px 0px;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: .4rem;
    border-radius: 10px;
    box-shadow: black 2px 5px 8px;
    border: none;
    margin : 0.5rem;
    font-size: 0.7rem;
    width: 80%;
}

@media screen and (min-width: 769px) {

    .DivResult {
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .ImageCocktail {
        width: 25vw;
        height: 25vw;
    }
    
    .ResultDescription {
        font-size: 1.8rem;
    }

    .buttonCliked {
        padding: .6rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .DivResult {
        border: solid #1b4d80 2px;
    }

    .selector {
        cursor: pointer;
    }


}