body{
    background-color: #e4dabe;
    
}

.searchBar{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.makeYourCocktail {
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktailTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.classCocktail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    
}

.cocktails {
    background-color: #0B899D;
    font-family: 'Kalam', cursive;
    text-shadow: black 1px 1px 0px;
    margin-bottom: 1vh;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: .3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: fit-content;
    box-shadow: black 2px 5px 8px;
    font-weight: bold;
    font-size: 0.8rem;
    border: none;
}
.cocktailsClicked {
    background-color: white;
    font-family: 'Kalam', cursive;
    text-shadow: black 1px 1px 0px;
    margin-bottom: 1vh;
    list-style-type: none;
    color: black;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: black 2px 5px 8px;
    font-weight: bold;
    font-size: 1.2rem;
    width: fit-content;
   
}

.cocktailDescriptionOff {
    display: none;
    text-align: center;
}

.cocktailDescriptionOn {
    display: block;
    text-align: center;
    
}

.cocktailThumb {
    width: 80vw;
    border-radius: 20px;
    padding-bottom: 1rem;
}