.BackCockChoice {
    height: 100vh;
    background: linear-gradient(0.25turn, #f9c379,#f8cb87, #f8d89d);
}

.flexSearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.makeYourCocktail {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cocktailTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

.classCocktail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butonCliked {
    background-color: #1b4d80;
    font-family: 'Kalam', cursive;
    text-shadow: black 1px 1px 0px;
    margin-bottom: 1vh;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: .3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: fit-content;
    box-shadow: black 2px 5px 8px;
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    margin : 0.5rem;
    width: 70vw;
}

.cocktails {
    background-color: #1b4d80;
    font-family: 'Kalam', cursive;
    text-shadow: black 1px 1px 0px;
    margin-bottom: 1vh;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: .3rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: fit-content;
    box-shadow: black 2px 5px 8px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin : 0.5rem;
}

.hideDescription {
    display: none;
    text-align: center;
}

.showDescription {
    display: inline;
    text-align: center;
}

.cocktailDescriptionOn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.SelectOption{
    border-radius: 8px;
}

.selectorDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.selector {
    width: 70%;
    padding: 3px;
    border: 1px solid #1b4d80;
    border-radius: 5px;
    background-color: #1b4d80;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-shadow: black 0px 0px 3px;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
  
.barmanQuestion {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Tribeca";
    color: #0B899D;
    text-shadow: white 1px 1px 0px;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.instruction {
    float: left;
    margin-top: 0px;
    width: 90%;
}

.barmanPicture {
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}

.searchBar {
    background-color: white;
    border-radius: 10px;
    box-shadow: black 5px 5px 8px;
    width: 80%;
    float: left;
    margin-top: 320px;
    padding: 5px;
}

.paragraph {
    text-align: center;
    color: #1b4d80;
    font-weight: bold;
    font-size: 1.2rem;
}

.CocktailResults {
    margin-top: 100px;
}

@media screen and (min-width: 1200px) {

    .barmanPicture {
        width: 50vw;
    }

    .barmanQuestion {
        font-size: 2rem;
        margin: 2rem 25rem;
        padding: 30px;
        width: 40%;
    }

    .searchBar {
        width: 40%;
        margin-top: 800px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .paragraph {
        font-size: 1.8rem;
    }

    .CocktailResults {
        margin-top: 300px;
    }

    .selector {
        width: 70%;
        padding: 10px;
        font-size: 1.8rem;
    }
}