@font-face {
    font-family: "Tribeca";
    src: url("/src/Fonts/Tribeca.ttf");
}

.TitleNavBar {
    font-family: "Tribeca",Regular;
    margin: 0;
    color: rgb(37, 201, 201);
    font-size: 1.4rem;
    text-decoration: none;
}

li{
    text-align: center;
}

li a {
    text-decoration: none;
    color: rgb(37, 201, 201);
    font-size: 1.2rem;
}
